<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Image Color Extract</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('home') }}">Image Color Extract</a>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                          <form method="post" action="{{ url_for('upload') }}" enctype="multipart/form-data">
                                {{ form.csrf_token }}
                                <div class="mb-3">
                                {% if form.upload.errors %}
                                {{ form.upload(size=20, class="form-control is-invalid") }}
                                {% for error in form.upload.errors %}
                                <p style="color:red;">{{ error }}</p>
                                {% endfor %}
                                {% else %}
                                {{ form.upload(size=20, class="form-control") }}
                                {% endif %}
                                    <br>
                                <input class="btn btn-light" type="submit" value="Submit">
                                </div>
                          </form>
	<div>
		<img src="{{ image }}" class="main_image figure-img img-fluid rounded" alt="Responsive image">
	</div>
                            {% for color in colors %}
                            <button style="background-color:rgb{{ color }}"
                    type="button"
                    class="btn btn-light"
                    onclick="alert('RGB CODE IS {{ color }}')"
                    >RGB</button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <p class="text-muted small mb-4 mb-lg-0">&copy; ProduSolve 2022. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>